$footer-height: 125px;

#root {
  position: relative;
  min-height: 100vh;
  padding-bottom: $footer-height;
}

#header {
  @extend .sticky-top;
  nav.main .navbar-nav {
    flex-direction: row;
    li {
      @extend .mx-1;
    }
  }
  .btn-menu {
    @include button-variant(rgba(255,255,255,0.80), transparent);
    @extend .rounded-circle;
    line-height: 1.28;
    font-size: 2rem;
  }
}

#main {
}

#footer {
  @extend .bg-dark;
  position: absolute;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  .link-wrapper {
    @extend .mx-auto;
    width: 300px;
  }
  img {
    width: 100%;
    height: auto;
  }
}

@include media-breakpoint-only(xs) {
  .list-group-flush .list-group-item {
    padding-left: 0;
    padding-right: 0;
  }
}

.channel-list {
}

.playlist {
  position: relative;
  min-height: 80px !important;
  .loader {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    padding-top: 28px;
    background: unset;
    font-size: 35px;
    text-align: center;
  }
}

.home-view {
  .channel {
    @extend .col-4, .col-sm-3, .col-md-2, .px-0;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.newsfeed-view {
  .playlist {
    @extend .col-12, .col-sm-6, .col-md-3, .mb-3;
    .video-card {
      // min-height: 120px;
    }
  }
}

.feed-view, .search-view {
  .video-card {
    @extend .col-12, .col-sm-6, .col-md-3, .mt-3;
  }
}

.categorys-view {
  h2 {
    @extend .text-dark;
  }
  .channel {
    @extend .col-3, .col-md-2, .col-lg-1, .mb-2;
    img {
      @extend .img-fluid;
    }
  }
}

.channel-view {
  .playlist {
    padding-bottom: 120px;
  }
  .video-card {
    @extend .col-12, .col-sm-6, .col-md-3, .mt-3;
  }
}

.video-card {
  .card {
    border: none;
    @extend .text-dark;
    .card-img-top {
      background: $gray-300;
      position: relative;
    }
    .card-body {
      padding: 5px 0;
      line-height: 1.35;
    }
    .card-footer {
      @extend .text-muted, .small;
      border: none;
      background: unset;
      padding: 0;
    }
    .date {
      &:after {
        content: '|';
        margin: 0 5px;
      }
    }
    .duration {
      position: absolute;
      bottom: .5rem;
      right: .5rem;
      color: $white;
      background: rgba(0,0,0,0.5);
      padding: 0 5px;
    }
    .views, .date {
      display: inline-block;
    }
    .views, .duration {
      span {
        margin-left: 3px;
      }
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  @include media-breakpoint-only(xs) {
    .card {
      flex-direction: row;
      .card-img-top {
        width: 45%;
      }
      .card-body {
        width: 45%;
        padding: 0 0 0 5px;
        font-size: .9rem;
      }
    }
  }
}
